@font-face {font-family:"Flaticon";src:url("../fonts/flaticon/Flaticon.eot");src:url("../fonts/flaticon/Flaticon.eot?#iefix")format("embedded-opentype"),url("../fonts/flaticon/Flaticon.woff")format("woff"),
url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

/* Flaticon */

/*
Flaticon icon font: Flaticon
Creation date: 13/03/2018 03:24
*/
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-home:before { content: "\f133"; }
.flaticon-interface-6:before { content: "\f13f"; }
.flaticon-interface-2:before { content: "\f158"; }
.flaticon-user:before { content: "\f129"; }
.flaticon-users:before { content: "\f12a"; }

/*!
 * Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa, .fas, .far, .fal, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}

.fa-xs {
    font-size: .75em;
}

.fa-sm {
    font-size: .875em;
}

.fa-1x {
    font-size: 1em;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

.fa-9x {
    font-size: 9em;
}

.fa-10x {
    font-size: 10em;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}
.fa-ul > li {
    position: relative;
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.fa-border {
    border: solid 0.08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em;
}

.fa-home:before {
    content: "\f015";
}

.fa-layer-group:before {
    content: "\f5fd";
}

.fa-th-list:before {
    content: "\f00b";
}

.fa-graduation-cap:before {
    content: "\f19d";
}

.fa-table:before {
    content: "\f0ce";
}

.fa-users:before {
    content: "\f0c0";
}

.fa-print:before {
    content: "\f02f";
}

.fa-plus:before {
    content: "\f067";
}

.fa-calendar:before {
    content: "\f133";
}

.fa-ellipsis-h:before {
    content: "\f141";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 Use the following CSS code if you want to have a class per icon.
 Instead of a list of all class selectors, you can use the generic [class*="icon-"] selector, but it's slower:
*/

.icon-note,
.icon-trash,
.icon-login,
.icon-menu,
.icon-options-vertical {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-note:before {
    content: "\e060";
}
.icon-trash:before {
    content: "\e054";
}
.icon-login:before {
    content: "\e066";
}
.icon-menu:before {
    content: "\e601";
}
.icon-options-vertical:before {
    content: "\e602";
}
