<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('New Lecturer - Student Grader')"></head>
<body>
    <div class="wrapper">
        <div th:replace="navigation :: main_header"></div>
        <div th:replace="navigation :: sidebar"></div>

        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">[[${pageTitle}]]</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a th:href="@{/}">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/subjects}">Subject</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/#}">New Subject</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        [[${headerTitle}]]
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/subjects/save}" method="post" th:object="${subject}"
                                          onsubmit="return checkUnique(this);">
                                        <input type="hidden" th:field="*{id}">
                                        <div th:if="${subject.id != null}" class="form-group">
                                            <label>Subject Code</label>
                                            <input type="text" class="form-control" th:field="*{code}"
                                                   required minlength="2" maxlength="45" placeholder="Subject Code">
                                        </div>
                                        <div class="form-group">
                                            <label>Name <span class="required-label">*</span></label>
                                            <input type="text" class="form-control" th:field="*{name}"
                                                   required minlength="2" maxlength="45" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Code Number <span class="required-label">*</span></label>
                                            <input type="number" class="form-control" th:field="*{codeNumber}"
                                                   required placeholder="Code Number">
                                        </div>
                                        <div class="form-group">
                                            <label>Description <span class="required-label">*</span></label>
                                            <textarea class="form-control" th:field="*{description}" rows="5"
                                                      required minlength="8" maxlength="255">
                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Course <span class="required-label">*</span></label>
                                            <div class="select2-input">
                                                <select class="form-control" required th:field="*{course}">
                                                    <option value="">&nbsp;</option>
                                                    <th:block th:each="course : ${listCourses}">
                                                        <option th:value="${course.id}" th:text="${course.level + ' ' + course.department.name + ' ' + course.semester}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="card-action">
                                            <input type="submit" class="btn btn-primary" value="Save">
                                            &nbsp;
                                            <button type="button" id="buttonCancel" class="btn btn-outline-danger">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="modal_fragments :: modal_dialog"></div>

            <div th:replace="navigation :: footer"></div>
        </div>
    </div>

    <script >
        moduleURL = "[[@{/subjects}]]"

        function checkUnique(form) {
            const url = "[[@{/students/check_unique}]]";
            const subjectName = $("#name").val();
            const subjectCode = $("#code").val();
            const subjectId = $("#id").val();
            // Making an AJAX call with Spring security, we need to pass the csrf value
            const csrfValue = $("input[name='_csrf']").val();
            const params = {id: subjectId, name: subjectName, code: subjectCode, _csrf: csrfValue};

            $.post(url, params, function (response){
                if (response === "OK") {
                    form.submit();
                } else if (response === "DuplicateName") {
                    showModalWarning("There is another subject with the name " + subjectName);
                } else if (response === "DuplicateCode") {
                    showModalWarning("There is another subject with the code " + subjectCode);
                } else {
                    showModalError("Unknown response from server");
                }
            }).fail(function () {
                showModalError("Could not connect to the server");
            });
            return false;
        }
    </script>
</body>
</html>
